.form-control{
    margin: 20px;
    border: 1px solid rgb(1, 1, 53);
}
.box{
    left:50%;
    position: absolute;
    transform: translateX(-50%);
    width: 600px;
    max-width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(202, 201, 201);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.card{
    border:#01063a2c solid 0px;
    border-radius:4px;
    box-shadow: rgb(243, 243, 255) 0px 0px 10px;
}
