.form-control{
    margin: 20px;
    border: 1px solid rgb(1, 1, 53);
}
.box{
    left:50%;
    position: absolute;
    transform: translateX(-50%);
    width: 700px;
    max-width: 100%;
}
.form-control{
    width: 400px;
    border: 0;
    border-bottom: 2px solid rgb(1, 1, 53);
    border-radius: 0;
    background: #fafafa;
    box-shadow: 1px 2px 4px #ccc;
}
.form-control:focus{
    border: 0;
    border-bottom: 2px solid rgb(180, 1, 10);
    border-radius: 0;
    background: #f2f2f2;
    box-shadow: 1px 2px 4px #ccc;
    transition: ease-in-out 400ms;
}
.form-control::placeholder{
    color: #01063a;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}